.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: $font-family-base;
    > li {
      list-style: none;
      font-size: 14px;
      > a {
        padding: 10px 14px 10px 14px;
        display: inline-block;
        font-weight: normal;
        text-decoration: none;
        color: $primary;
        &:hover {
          text-decoration: underline;
          color: $primary;
        }
      }
      &.active {
        > a {
          font-weight: bold;
        }
      }
    }
  }
}

/* Credit : https://discourse.gohugo.io/t/language-switcher-in-menu/11570/8 */
/* Flags navigation */
.flagselect {
  padding: 0px;
  margin: 0px;
  color: #333333;
  font-size: 90%;
}
.flagnoselect {
  padding: 0px;
  margin: 0px;
  color: #333333;
  font-size: 90%;
}