{{ $class := .Get "class" }}

<div class="image-container {{ $class }}">
    <a href="https://www.touchweb.fr/" target="_blank"><img class="partner1" alt="TouchWeb Infogérance E-commerce" src="/images/prestascansecurity/partner1.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.profileo.com/" target="_blank"><img class="partner2" alt="Profileo 100% E-commerce" src="/images/prestascansecurity/partner2.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.202-ecommerce.com/" target="_blank"><img class="partner3" alt="202 Ecommerce" src="/images/prestascansecurity/partner3.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.772424.com/" target="_blank"><img class="partner4" alt="772424 E-commerce hosting" src="/images/prestascansecurity/partner4.png"></a>&nbsp;&nbsp;&nbsp;&nbsp; 
    <a href="https://friends-of-presta.github.io/security-advisories/" target="_blank"><img class="partner5" alt="Friends Of Presta" src="/images/prestascansecurity/partner5.png"></a>
</div>
